p {
    margin-bottom: 12px !important;
}

html, body {
    min-width: 1200px;
}

.menu-container {
    background: #FFF;
    width: 100%;
}

.menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
  }